In [16]:
#Dependencies
import pandas as pd

In [17]:
#filename and location of csv
csvfile = ('Resources/purchase_data.csv')

In [18]:
#csv to df
df = pd.read_csv(csvfile)

In [19]:
#checkpoint
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
#number of unique users
sn_count = df["SN"].nunique()
sn_count

576

In [24]:
#number of unique items
item_count = df["Item ID"].nunique()
item_count

179

In [29]:
#average price
avg_price = df["Price"].mean()
avg_price

3.050987179487176

In [32]:
#total transactions
transactions = len(df['Purchase ID'])
transactions

780

In [33]:
#revenue
total_rev = df["Price"].sum()
total_rev

2379.77

In [51]:
#list types of genders
gender_types = df["Gender"].unique()
gender_types

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [46]:
#male players dataframe
male_df = df.loc[df["Gender"]=="Male"]
male_df
#unique male player count
male_count = male_df["SN"].nunique()
male_count
#percentage
male = male_count/sn_count
male

0.8402777777777778

In [47]:
#female players dataframe
female_df = df.loc[df["Gender"]=="Female"]
female_df
#unique female player count
female_count = female_df["SN"].nunique()
female_count
#percentage
female = female_count/sn_count
female

0.140625

In [52]:
#other players dataframe
other_df = df.loc[df["Gender"]=="Other / Non-Disclosed"]
other_df
#unique other player count
other_count = other_df["SN"].nunique()
other_count
#percentage
other = other_count/sn_count
other

0.019097222222222224

In [ ]:
#group by for age demographics

In [ ]:
#top spenders

In [ ]:
#Popular items

In [ ]:
#profitable items

In [56]:
#Player Count
print(f"Player Count: {sn_count}""\n")

Player Count: 576

In [55]:
#Purchaseing Analysis (Total)
print("Purchasing Analysis (Total)" "\n")
print(f"Number of Unique Items: {item_count}""\n")
print(f"Average Purchase Price: ${avg_price:.3}""\n")
print(f"Total Number of Purchases: {transactions}""\n")
print(f"Total Revenue: ${total_rev}""\n")

Purchasing Analysis (Total)

Number of Unique Items: 179

Average Purchase Price: $3.05

Total Number of Purchases: 780

Total Revenue: $2379.77

In [54]:
#Gender Demographics
print("Gender Demographics")
print(f"Male Players: {male:.2%} ({male_count})")
print(f"Female Players: {female:.2%} ({female_count})")
print(f"Other / Non-Disclosed Players: {other:.2%} ({other_count})")

Gender Demographics
Male Players: 84.03% (484)
Female Players: 14.06% (81)
Other / Non-Disclosed Players: 1.91% (11)