In [37]:
#Dependencies
import pandas as pd
import math

In [38]:
#filename and location of csv
csvfile = ('Resources/purchase_data.csv')

In [39]:
#csv to df
df = pd.read_csv(csvfile)

In [40]:
#checkpoint
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [41]:
#number of unique users
sn_count = df["SN"].nunique()
sn_count

576

In [42]:
#number of unique items
item_count = df["Item ID"].nunique()
item_count

179

In [43]:
#average price
avg_price = df["Price"].mean()
avg_price

3.050987179487176

In [44]:
#total transactions
transactions = len(df['Purchase ID'])
transactions

780

In [45]:
#revenue
total_rev = df["Price"].sum()
total_rev

2379.77

In [46]:
#list types of genders
gender_types = df["Gender"].unique()
gender_types

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [47]:
#male players dataframe
male_df = df.loc[df["Gender"]=="Male"]
male_df
#unique male player count
male_count = male_df["SN"].nunique()
male_count
#percentage
male = male_count/sn_count
male

0.8402777777777778

In [48]:
#female players dataframe
female_df = df.loc[df["Gender"]=="Female"]
female_df
#unique female player count
female_count = female_df["SN"].nunique()
female_count
#percentage
female = female_count/sn_count
female

0.140625

In [49]:
#other players dataframe
other_df = df.loc[df["Gender"]=="Other / Non-Disclosed"]
other_df
#unique other player count
other_count = other_df["SN"].nunique()
other_count
#percentage
other = other_count/sn_count
other

0.019097222222222224

In [55]:
#gender purchase analysis
male_purchase=len(male_df["Purchase ID"])
male_avg_price = male_df["Price"].mean()
male_total_rev = male_df["Price"].sum()
male_grouped_df = male_df.groupby(['SN'])["Price"].sum()
male_avg_per = male_grouped_df[2].mean()

female_purchase=len(female_df["Purchase ID"])
female_avg_price = female_df["Price"].mean()
female_total_rev = female_df["Price"].sum()
female_grouped_df = female_df.groupby(['SN'])["Price"].sum()
female_avg_per = female_grouped_df[2].mean()

other_purchase=len(other_df["Purchase ID"])
other_avg_price = other_df["Price"].mean()
other_total_rev = other_df["Price"].sum()
other_grouped_df = other_df.groupby(['SN'])["Price"].sum()
other_avg_per = other_grouped_df[2].mean()

In [14]:
#group by for age demographics
#group by defined values from age column, include Price
#Early, PreTeen, Teen, Adult

In [15]:
#top 5 spenders IN A TABLE
#groupby SN, new column 'Number of Purchases' (count or len fxn). Avg purchase per user (Total/Number). Total Purchase $

In [16]:
#Popular items

In [17]:
#profitable items

In [18]:
#Player Count
print(f"Player Count: {sn_count}""\n")

Player Count: 576

In [32]:
#Purchaseing Analysis (Total)
print("Purchasing Analysis (Total)" "\n")
print(f"Number of Unique Items: {item_count}""\n")
print(f"Average Purchase Price: ${avg_price:.2f}""\n")
print(f"Total Number of Purchases: {transactions}""\n")
print(f"Total Revenue: ${total_rev}""\n")

Purchasing Analysis (Total)

Number of Unique Items: 179

Average Purchase Price: $3.05

Total Number of Purchases: 780

Total Revenue: $2379.77

In [58]:
#Gender Demographics
print("Gender Demographics""\n")
print(f"Male Players: {male:.2%} ({male_count})""\n")
print(f"Female Players: {female:.2%} ({female_count})""\n")
print(f"Other / Non-Disclosed Players: {other:.2%} ({other_count})""\n")

Gender Demographics

Male Players: 84.03% (484)

Female Players: 14.06% (81)

Other / Non-Disclosed Players: 1.91% (11)

In [57]:
#Purchasing analysis (Gender)
print("Purchasing Analysis (Gender)""\n")
print(f"Purchase Count: ({male_purchase}) Males; ({female_purchase}) Females; ({other_purchase}) Other / Non-Disclosed""\n")
print(f"Average Purchase Price: $({male_avg_price:.2f}) Males; $({female_avg_price:.2f}) Females; $({other_avg_price:.2f}) Other / Non-Disclosed""\n")
print(f"Total Purchase Value: $({male_total_rev}) Males; $({female_total_rev}) Females; $({other_total_rev}) Other / Non-Disclosed""\n")
print(f"Average Purchase Per Unique Player: $({male_avg_per:.2f}) Males; $({female_avg_per:.2f}) Females; $({other_avg_per:.2f}) Other / Non-Disclosed""\n")

Purchasing Analysis (Gender)

Purchase Count: (652) Males; (113) Females; (15) Other / Non-Disclosed

Average Purchase Price: $(3.02) Males; $(3.20) Females; $(3.35) Other / Non-Disclosed

Total Purchase Value: $(1967.64) Males; $(361.94) Females; $(50.19) Other / Non-Disclosed

Average Purchase Per Unique Player: $(4.32) Males; $(3.54) Females; $(3.94) Other / Non-Disclosed